.balance {
    transition: all 0.3s ease-in-out;
}
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.card:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card-body {
    flex: 1;
    text-align: center;
}

.balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.card-text{
    margin: 0 ;
}

.button-more-info{
    margin-bottom: 0;
} 


/* RESPONSIVE */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }

    .balance {
        justify-content: center;
    }

    .buttons-edit-delete {
        flex-direction: row;
    }
}

@media (max-width: 768px) {  
    .card-box {
       padding-left: 0 !important;
       padding-right: 0 !important;
    }
    .card-text{
        margin: 0 ;
    }
    .buttons-edit-delete{
        flex-direction: column;
    }
    .card-box{
        padding-top: 45px !important;
        }
    .button-more-info{
        margin-bottom: 0;
    } 
   }
   
   @media (max-width: 480px) {  
    .amount-coin{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .last-movement{
       display: none !important;
    }
    .card-title{
       display: flex !important;
    }
    .card{
       display: inline !important;
    }
    .card-body{
       padding: 0 !important;
    }
    .balance{
       display: flex !important;
       font-size: large !important;
       padding-left: 100px;
       padding-bottom: 5px;
    }
    .buttons-edit-delete{
       flex-direction: row !important;
       align-items: baseline !important;
       padding: 0 !important;

   
    }
    .button-edit{
       border-top-left-radius:15px !important;
       border-bottom-right-radius: 0px !important;
       border-top-right-radius: 0px !important;
       border-bottom-left-radius: 15px !important
    }
    .button-delete{
       border-top-left-radius:0px;
       border-bottom-right-radius: 15px !important;
       border-top-right-radius: 15px !important;
       border-bottom-left-radius: 0px !important
    }
    .card-buttons{
        width: 100%;
        justify-content: center !important;
    }
    .button-more-info{
      width: 100px !important;
      margin-bottom: 0 !important;
      border-radius: 15px !important;
    }
    .card-text{
        margin: 0 ;
    }
    .card-box{
    padding-top: 45px !important;
    }
    .card-details{
        padding: 0 !important;
    }
    .card-details-2{
        padding: 10px !important;
    }
    .card-2{
        padding: 0 !important;
    }

       }
