.balance-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    max-width: 100%;
}
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .currency-size {
    transform: scale(1.2);
  }
  .balance-box h3 {
    font-size: 2rem; 
    flex-grow: 1;
    text-align: center
}
  .eye-hide{
  padding-right: 10px;
}
.form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
}
@media (max-width: 768px) {  
.balance-title{
font-size: large !important;
text-align: center;
}
.eye-hide{
  padding-right: 5px;
  padding-left: 5px;
}
.total-balance{
margin: 0 !important;
}
  }

@media (max-width: 480px) {  
    .total-balance{
      font-size: medium !important;
      margin: 0 !important;
    }
    .form-select{
      padding-left:1.8rem !important;
      padding-right:.61rem !important;
      padding-top:.325rem !important;
      padding-bottom:.35rem !important;
      color: transparent;
    }
    .eye-hide{
      padding-right: 5px;
      padding-left: 5px;
    }
    
       }