.recover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
}

.app-title {
    font-size: 4rem;
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 20px;
}

.recover-box {
    background-color: var(--background-light);
    border-radius: 10px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: all 0.3s ease;
}

.recover-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-light);
    margin-bottom: 15px;
}

.recover-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recover-input {
    border: 1px solid var(--gray-light);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: border 0.3s;
}

.recover-input:focus {
    border-color: var(--primary);
    outline: none;
}
